
.post-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  .card-title{color:rgb(11, 10, 10);}

  
  


.card{background: linear-gradient(to bottom, rgb(255, 13, 5), rgb(225, 224, 224), rgb(255, 6, 6), rgb(225, 224, 224)),rgb(234, 5, 5) !important;
    border-radius:10px ;}

    *,html,body,select {
        font-family: "East Sea Dokdo", sans-serif !important;
        font-weight:900 !important;
        font-style: normal !important;
      }

      .nav-link{font-size: larger !important;}


body {
        background-image: url('./components/screenshot.png'); /* Imposta il percorso corretto dell'immagine */
        background-size: cover; /* Opzionale: regola la dimensione dell'immagine per coprire l'intero elemento */
        /* Altri stili CSS desiderati per il tuo componente */
      }

      
      
h1{
color: white !important;}